<!DOCTYPE html>
{% extends 'adminbase.html' %}
{% load static %}
{% block content%}
<div style="margin-left: 380px;">
    {% for d in data %}
    <div class="col-md-3">
        <table style="border: 2px inset blue;">
            <tr>
                <td>
                    <img src="{{d.Graphic_Img.url}}" alt="" height="200px" width="200px" >
                </td>
            </tr>
            <tr>
                <td>
                    {{ d.Graphic_Name }}
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{% url 'artadmin:graphicupdate' d.id %}">
                        <button class="btn btn-sm btn-success">
                            UPDATE
                        </button>
                    </a>
                    <a href="{% url 'artadmin:graphicdestroy' d.id %}">
                        <button class="btn btn-sm btn-danger">
                            DELETE
                        </button>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    {% endfor %}
    
</div><br><br>
<div style="margin-left: 10px;margin-bottom: 10px;">
    <a href="{% url 'artadmin:caricature' %}"><button class="btn btn-success"><span class="glyphicon glyphicon-chevron-right">Prev</span></button></a>
</div>
{% endblock %}