<!DOCTYPE html>
{% extends 'adminbase.html' %}
{% load static %}
{% block content%}
<div style="margin-left: 450px;padding-top: 50px;">
    
    <h4 style="text-decoration: underline;"><i></i>Contacted Details</h4>
        <table style="border: 2px inset blue;" class="table-bordered">
            <thead>
                <td style="padding: 20px;">ID</td>
                <td style="padding: 20px;">Name</td>
                <td style="padding: 20px;">Email</td>
                <td style="padding: 20px;">Message</td>
                <td style="padding: 20px;">Action</td>
            </thead>
            {% for d in cont %}
            <tbody>
            <tr>
                <td  style="padding: 20px;">
                    {{ d.id }}
                </td>
                <td style="padding: 20px;">
                    {{ d.Contact_Name }}
                </td>
                <td style="padding: 20px;">
                    {{ d.Contact_Email }}
                </td>
                <td style="padding: 20px;">
                    {{ d.Contact_Message }}
                </td>
            
                <td style="padding: 20px;">
                   <a href="{% url 'artadmin:contactdestroy' d.id %}">
                        <button class="btn btn-sm btn-danger">
                            DELETE
                        </button>
                    </a>
                </td>
            </tr>
        </tbody>
            {% endfor %}
        </table>
    
    
    
</div>

{% endblock %}